dataset/raw/wili-2018.zip
backend/weights/*
frontend/node_modules/*
backend/__pycache__/
*.pyc
*.pth
*.pkl
dataset/raw/x_train.txt
dataset/raw/x_test.txt
dataset/raw/y_train.txt
dataset/raw/y_test.txt
